<div class="panel panel-default">
  <div class="panel-heading" id="heading-plug">
    <div id='notices'></div>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">name</span>
      <input type="text" class="form-control" placeholder="Username" id="username">
      <span class="input-group-btn">
        <button id="connect" class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div class="panel-body">
    <textarea class="form-control" rows="10" id="message_box" disabled></textarea>
  </div>
  <div class="panel-footer">
    <div class="input-group input-group">
      <span class="input-group-addon">message</span>
      <input type="text" class="form-control" placeholder="" id="message" disabled>
      <span class="input-group-btn">
        <button id="send" class="btn btn-default" type="button" disabled>send!</button>
      </span>
    </div>
  </div>
</div>